<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <div class="title">New Message</div>
    <form method="POST" action="/new">
        <div class="form-row">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="John Doe" required />
        </div>
        <div class="form-row">
            <label for="message">Message</label>
            <textarea
                rows="4"
                cols="30"
                id="message"
                name="message"
                placeholder="Write your message"
                required></textarea>
        </div>
        <button class="submit-btn" type="submit">Submit</button>
    </form>
</body>
</html>
