<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <div class="title-wrapper">
        <div class="title">
            <%= title %>
        </div>
        <div class="subtitle">
            Created with Express.js
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <% messages.forEach((message) => { %>
                <tr>
                    <th scope="row"><%= message.user %></th>
                    <td><%= message.text %></td>
                    <td><%= message.added.toLocaleString() %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/new">
        <button class="new-msg-btn">New Message</button>
    </a>
</body>
</html>